.velavan__about {
    /* padding-top: 4rem ; */
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1rem;
    margin-top: 77px;
    margin-bottom: 1px;
    /* border-radius: 50px; */
    /* background-color:rgb(63, 106, 223); */
    /* background-color:#0768de; */
    /* background-color:#ffffff; */
    background-color: #e3e3fb;

    /* padding-bottom: 20rem; */

    font: 14px/ 19px "adobe-clean", "Adobe Clean", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    /* background:rgb(255, 255, 255); */
    position:fixed ;
    top:0;
    z-index: -100;

}

@media screen and (max-width:600px){
    .velavan__about {
        margin-top: 100px;

    }

}

.velavan__about p {
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    align-items: center;
    font-size: 1.3rem;
    color:rgb(0, 0, 0);
    letter-spacing: .05rem;
    line-height: 2.5ch;
    font: 14px/ 19px "adobe-clean", "Adobe Clean", sans-serif;

}

.velavan__about_heading h1 {
    /* padding-top: 2rem;
    color: rgb(53, 4, 4);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase; */
    
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 2em;

}

.velavan__image {
    display: flex;
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */
}

.velavan__image_list {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
    justify-content: space-between;
}

.velavan__image_list img{
    width: 15%;
    /* height: fit-content; */
    padding: 10px;
    transition: .7s all ease-in-out;

}
/* .velavan__image_list img:hover{
    transform: scale(1.1);
} */