.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gpt3__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex: 1 0 250px;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
    background: rgb(197, 196, 199);
}

.gpt3__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: rgb(0, 0, 0);
}

.gpt3__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.gpt3__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.gpt3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.gpt3__cta-btn button {
    background: #000;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .gpt3__cta {
        flex-direction: column;
    }

    .gpt3__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .gpt3__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .gpt3__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}

    /* .hover {
        -ms-transform: rotateX(360deg); 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg);
        -ms-transition:1s all;
        -webkit-transition:1s all;
        transition:1s all;
    } */
  
  .reverse {
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
    -ms-transition:1s all;
    -webkit-transition:1s all;
    transition:1s all;
  }

  .hover {
    position: relative;
  
    &:hover &__no-hover {
      opacity: 0;
    }
  
    &:hover &__hover {
      opacity: 1;
    }
  
    &__hover {
      position: absolute;
      top: 0;
      opacity: 0;
    }
  
    &__no-hover {
      opacity: 1;
    }
  }