.gpt3__possibility {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex: 1 0 200px; */
    padding: 0rem;
    margin: 0rem;
    background-color: antiquewhite;

}

.gpt3__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    margin-right: 0rem;
}

.gpt3__possibility-image img {
    width: 80%;
    height: 80%;
}

.gpt3__possibility-content {
    /* background-color: #920d0d; */
    /* flex: 1 0 250px; */
    /* display: flex; */
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* flex-direction: column; */
    /* margin-top: 5rem    ; */

    flex:23 0 250px;
    align-items: center;
    padding: 1.5rem;
    /* width:max-content; */
    margin: .5rem;
    border-radius: 10px;
}

.gpt3__possibility-content h4 {
    font-family: var(--font-family);
    justify-content: left;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 30px; */
    color: #71E5FF;
}

.gpt3__possibility-content ul {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #ffa500;
    word-spacing: .8ch;
    letter-spacing: .1ch;
}

.gpt3__possibility-content h4:last-child {
    color: #ff8A71;
}

.gpt3__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.gpt3__possibility-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .gpt3__possibility {
        flex-direction: column;
    }

    .gpt3__possibility-image {
        margin: 1rem 0;
    }

    .gpt3__possibility-image img {
        width: unset;
        height: unset;
    }

    .gpt3__possibility-content {
        margin-top: 0rem;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__possibility-image img {
        width: 100%;
        height: 100%;
    }
}