.velavan__pf {
    background-color: aqua;

}

.velavan__pfbenefits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 200px;
    padding: 0rem;
    margin: 1rem;
    margin-block-start: 0rem;
    border-radius: 1rem;
    /* background: rgb(197, 196, 199); */
    background-color: white;
}

.velavan__pfbenefits-content {
    flex:23 0 250px;
    align-items: center;
    padding: 1.5rem;
    width:max-content;
    margin: .5rem;
    border-radius: 10px;
    background-color: rgb(255, 254, 254);
}

.velavan__pfbenefits-content p {
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    align-items: flex-start;
    letter-spacing: .1ch;
}

.velavan__pfbenefits-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}



.velavan__pfbenefits-image {
    flex:1 0 200px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding-top: 2rem;
    width: fit-content;
    height: fit-content;
    background-color: aliceblue;

}



.velavan__pfbenefits-image img {
    width: 8%;
    height: 8%;
}

.velavan__pfbenefits-image-benefits {
    display: flex;
    flex:1 0 200px;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2rem;
    margin-right: 2rem;
    text-align: center;
    justify-content: center;

}

.velavan__pfbenefits-image-benefits img {
    width: 5%;
    height: 5%;

}

.velavan__pfbenefits-image-benefits p{
    color:  rgb(59, 7, 136);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    letter-spacing: 1px;

}