.velavan__services {
  display: flex;
  margin-top: 550px;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 50px; */
  /* background-color: rgb(246, 244, 244); */
  /* margin-left: 20px;
  margin-right: 20px; */
  flex-wrap: wrap;
  flex-direction: column;
  /* position: relative;
  height:100%;
  min-height:100%;
  width:100%; */
  z-index: -90;
  background-color: #b3b3f7;
}

.velavan__services_heading h1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: #0a0a0f;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-top: 3rem;
}

.velavan__services_sub-heading h1 {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 1rem;
  color: #080814;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.velavan__services_body {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.velavan__services_row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.velavan__services_column-1 ,
.velavan__services_column-2 ,
.velavan__services_column-3  {
  box-sizing: border-box;
  text-align: center;
  padding: 0rem;
  margin: .5rem;
  /* flex-basis: 300px ;
  flex-grow: 1; */
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 33%;instead 25%,because to be made the gap. */
  border: solid;
  border-color: #b14b61;
  border-radius: 10px;
  /* filter: drop-shadow(1px 1px 10px #767273); */
}


.velavan__services_column-1 img,
.velavan__services_column-2 img,
.velavan__services_column-3 img {
  flex:1;
  justify-content: space-between;
  margin: 0 1rem;
  cursor: pointer;
  padding-top: 1rem;
}

.velavan__services_column-1 p,
.velavan__services_column-2 p,
.velavan__services_column-3 p{
  flex: 1;
  justify-content: space-between;
  align-items: center;
  color: #1f141f;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  /* filter: drop-shadow(0px 0px 0px #767273); */
}

.velavan__services_column-1 h3,
.velavan__services_column-2 h3,
.velavan__services_column-3 h3 {
  flex: 1;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #84087b;
  font-size: 20px;  
  font-weight: 600;
  letter-spacing: 7px;
  filter: drop-shadow(0px 0px 0px #767273);
}


.section-title-group {
    margin-bottom: 60px;
  }

  .section-heading {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  
  .section-heading.centered {
    color: #676770;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
  }