.velavan__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 2rem 6rem; */
    padding: .8rem 3rem;
    background-color:rgb(7, 104, 222,.95);
    /* 0 1px 3px rgb(0 0 0 / 10%) */
    box-shadow:  0 1px 3px rgb(0 0 0 / 10%);

    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 50px !important;
    z-index: 1000;
}

.velevan__navbar_blue {
    background-color: rgb(7, 104, 222,.95);
}
.velevan__navbar_black {
    background-color: black;
}

.velavan__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.velavan__navbar-links_logo {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.velavan__navbar-links_logo img {
    width: fit-content;
    height: fit-content;
}

.velavan__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.velavan__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.velavan__navbar-links_container p,
.velavan__navbar-sign p,
.velavan__navbar-menu_container p {
    width:fit-content;
    color: rgb(255, 255, 255);
    font: 14px/ 19px "adobe-clean", "Adobe Clean", sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 17px;
    line-height: 19px;
    font-family: adobe-clean, "Adobe Clean", sans-serif;
    /* font-family: var(--font-family); */
    /* font-weight: 500;
    font-size: 18px;
    line-height: 25px; */
    text-transform: capitalize;
    letter-spacing: .2ch;
    margin: 0 1rem;
    cursor: pointer;
    padding: 0rem;
}

.velavan__navbar-links_container p:hover {
    /* background-color: rgb(202, 245, 145); */
    color: rgb(231, 232, 195);
    padding: 0rem;
    border-radius: 6px;

}

.velavan__navbar-sign button,
.velavan__navbar-menu_container button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: #ffffff;
    /* font-family: var(--font-family); */
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.velavan__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
    justify-content: end;
}

.velavan__navbar-menu svg {
    cursor: pointer;
}

.velavan__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.velavan__navbar-menu_container p {
    margin: 1rem 0;
}

.velavan__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .velavan__navbar-links_container {
        display: none;
    }

    .velavan__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .velavan__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 350px) {
    .velavan__navbar {
        padding: 2rem;
    }

    .velavan__navbar-sign {
        display: none;
    }

    .velavan__navbar-menu_container {
        top: 20px;
    }

    .velavan__navbar-menu_container-links-sign {
        display: block;
    }
}

.icon_adobe_protofolio {
    margin-bottom: 1px;
    width: 118px; 

    height: 17px;
    width: 138px;

    fill: #fff;
    margin-bottom: 4px;
    transition: fill 0.15s ease; 
}


.velavan {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.velavan_first {
    margin-bottom: 2px;
}
.velavan_second {
    margin-top: 5px;

}
