.velavan__esic {
background-color: antiquewhite;
z-index: -98;
margin-block-start: 0rem;
margin-block-end: 0rem;
padding-top: 1rem;
padding-bottom: 1rem;
}

.velavan__esicbenefits {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 200px;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    /* background: rgb(197, 196, 199); */
    background-color: rgb(250, 240, 250);

}

.velavan__esicbenefits_heading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 45px;
    font-weight: 800;
    margin-top: 0.0rem;

}

.velavan__esicbenefits-content {
    flex:23 0 250px;
    align-items: center;
    padding: 1.5rem;
    width:max-content;
    margin: .5rem;
    border-radius: 10px;
    /* background-color: rgb(255, 254, 254); */
}

.velavan__esicbenefits-content p {
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    align-items: flex-start;
    letter-spacing: .1ch;
}

.velavan__esicbenefits-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}



.velavan__esicbenefits-image {
    flex:1 0 200px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding-top: 2rem;
    width: fit-content;
    height: fit-content;

}



.velavan__esicbenefits-image img {
    width: 60%;
    height: 60%;
}

.velavan__esicbenefits-image-benefits {
    flex:1 0 200px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2rem;

}

.velavan__esicbenefits-image-benefits img {
    width: 15%;
    height: 15%;
}

.velavan__esicbenefits-image-benefits p{
    color:  rgb(59, 7, 136);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
    letter-spacing: 1px;

}