
.velavan__header {
    position: static;
    background-color: #180238;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
  }

  .velavan__header_row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

  }
  .velavan__header_column1 {
    padding-top: .15rem;
    flex-shrink: 1;
    flex-basis: 100px;
  }
  .velavan__header_column2 {
    flex: 50%;
    padding-left: 2rem;
    flex-shrink: 1;
    flex-basis: 300px;
  }

  @media screen and (max-width: 600px) {
    .velavan__header_column2 {
      width: 100%;
      padding-left: 2rem;

    }
  }

  .hero-heading {
    margin-bottom: 0px;
    color: #fcfcfc;
    font-size: 12px;
    /* line-height: 60px; */
    font-weight: 300;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: darkorange;
  }
  .hero-subheading {
    margin-bottom: 0px;
    color: #face6a;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: darkorange;
  }

  .velavan__header_column1 {
    align-items: ;
  }
